---
---
<!DOCTYPE html>
<html lang=en>
<title>{{page.title}}</title>
<meta charset=utf-8>
<link rel=stylesheet href={{'main.css'|relative_url}}>
<main>
{{content}}
</main>
<footer><nav>
<a href={{'/'|relative_url}}>Index</a><br>
<a href={{site.github_repo_url}}>View on GitHub</a>
</nav></footer>